#mapid {
  width: 100%;
  height: 600px;

}

.face{
  border-radius: 50%;
  background-color: red;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0) !important;
}

.infoCard{
  width: 100%;
  height: 200px;
  display flex;
  justify-content: center;
  background:
}

.infoCard *{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.filter{
  width: 100%;
  display: flex;
  justify-content: flex-start;;
  height: 300px;
}

.parties,
.ages,
.professions{
  padding: 0 40px;
  overflow-y: scroll;
  font-size: 1.5em;
}

.entry{
  font-size: 0.8em;
  color: darkgrey;
  font-weight: 300;
}

.spd{
  background: rgba(228, 6, 19, 0.6);
}

.cdu{
  background: rgba(0, 0, 0, 0.6);
}

.afd{
  background: rgba(1, 177, 236, 0.6);
}

.green{
  background: rgba(80, 174, 49, 0.6);
}

.left{
  background: rgba(149, 27, 128, 0.6);
}

.noparty{
  background: rgba(255,255,255, 0.6);
}
